/TestResults/
/packages/
/ExceptionHandling/packages/
bin/
obj/
*.user
StyleCop.Cache
*.suo
*.user
/DigitalMarketing.PartnerExchange.WebApplication/cassette-cache/
/DigitalMarketing.PartnerExchange.WebApplication/uploads/
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Client.5.1.2/Microsoft.AspNet.WebApi.Client.5.1.2.nupkg
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Client.5.1.2/lib/net45/System.Net.Http.Formatting.dll
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Client.5.1.2/lib/net45/System.Net.Http.Formatting.xml
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Client.5.1.2/lib/portable-wp8+netcore45+net45/System.Net.Http.Formatting.dll
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Client.5.1.2/lib/portable-wp8+netcore45+net45/System.Net.Http.Formatting.xml
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Core.5.1.2/Content/web.config.transform
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Core.5.1.2/Microsoft.AspNet.WebApi.Core.5.1.2.nupkg
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Core.5.1.2/lib/net45/System.Web.Http.dll
/ExceptionHandling/packages/Microsoft.AspNet.WebApi.Core.5.1.2/lib/net45/System.Web.Http.xml
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nupkg
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.dll
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.xml
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.dll
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.xml
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.dll
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.xml
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.dll
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.xml
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.dll
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.xml
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.dll
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.xml
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.dll
/ExceptionHandling/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.xml
/ExceptionHandling/ExceptionHandling.Tests/app.config
/TestResults/*
